{% extends "_template.html" %}
{% block mainactive1 %}class="active"{% endblock %}
{% block mainactive2 %}class="active"{% endblock %}
{% block navclass %}{% endblock %}
{% block styles %}
<style>
	/* Basic page setup */
	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		background-color: #fff
	}

	/* Header image */
	body {
		background: url("/static/images/farm.jpg") no-repeat center/cover, #bedde0;
	}

	/* Progress bar */
	.progress-container {
		background-color: rgba(150, 150, 150, 0.6);
		height: 0px;
		width: 100%;
	}

	.progress-bar {
		background-color: #4AC3ED;
		height: 10px;
		width: 0%;
	}

	/* Header image */
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		height: 100vh;
		color: #2CA5DD
	}

	/* Button to scroll past the header image */
	.scrolldown {
		position: absolute;
		bottom: 0;
		margin-bottom: 25px;
		padding: 10px;
		border-radius: 50%;
		transition: .15s;
		background-color: #4AC3ED;
	}
</style>
{% endblock %}
{% block content %}
<div class="progress-container sticky">
	<div class="progress-bar" id="progressBar"></div>
</div>

<div class="header">
	<div class="section">
		<h1 class="white-text center-align">Water Management in Dairy Farms</h1>
		<!-- <h6 class="grey-text center-align">FIT3164 DATA SCIENCE PROJECT // S2 2021<br>BENITA SIEN // SHYAM SRINIVAS //
			REUBEN LING</h6> -->
	</div>
	<a class="btn-floating btn-large waves-effect waves-light pulse scrolldown" onclick="pageScroll()"><i
			class="material-icons">water_drop</i></a>
</div>
<div class="container content">
	<div class="row">
		<div class="col s12 m9 l10">

			<!-- Introduction section -->
			<div id="intro" class="section scrollspy">
				<p class="flow-text">The dairy industry is the highest consumer of water in Australia. As the sea level
					rises, so too does our urgency to build a sustainable society where our children's children still
					have forests to protect and water to drink.<br>
					As a third of irrigated land in Australia is occupied by dairy farms, dairy farmers hold a lot of
					power to make a positive change for our country and conserve our life-giving resources.
					<br><br>This project aims to use
					data visualisation to inform dairy farm owners and managers about the biggest culprits of on-farm
					water usage and how to reduce the impact of them.
				</p>
			</div>

			<!-- 
				Dairy farms in Australia
				-- Talk about the per-state breakdown
				-- Mention Victoria as having the most dairy farms in the country
			-->
			<div id="australia" class="section scrollspy">

				<h3 class=>Victorian Dairy Farms</h3>
				<p>Before we get into water savings, it is important to recognise the importance of dairy farming in
					Victoria specifically. The below map highlights data for Australian states in 2019.</p>
				<p><i>Note: States can be hovered over to reveal numbers.</i></p>

				<div class="video-container hide-on-med-and-down">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="https://public.tableau.com/views/CowsperState/Dashboard4?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link&:showVizHome=no">
					</iframe>
				</div>
				<p class="center-align hide-on-large-only">
					<a class="waves-effect waves-light btn blue"
						href="https://public.tableau.com/shared/SKMP4P3Q3?:display_count=n&:origin=viz_share_link"><i
							class="material-icons left">cloud</i>View Infographic in Tableau</a>
				</p>

				<p>This is not a recent phenomenon: looking back over the past several years, we can see that Victoria
					consistently has the largest number of dairy farms in the country.</p>
				<p><i>Note: Regions in the area chart can be clicked to highlight the respective columns and vice versa.
						Both visualisations can be filtered by the year selector in the top right.</i></p>

				<!-- Area + choropleth visualisation -->
				<div class="video-container hide-on-med-and-down">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="https://public.tableau.com/views/CowsperState/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link&:showVizHome=no">
					</iframe>
				</div>
				<p class="center-align hide-on-large-only">
					<a class="waves-effect waves-light btn blue"
						href="https://public.tableau.com/views/CowsperState/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link"><i
							class="material-icons left">cloud</i>View Infographic in Tableau</a>
				</p>

				<p>
					If all
					Victorian farms were to implement efficient water management strategies, there would be a
					significant impact on water consumption in Australia as a whole.</p>

			</div>

			<!-- 
				Factors in water usage
				-- Visualisation: SPLOM
			-->
			<div id="factors" class="section scrollspy">
				<h3 class=>Factors in Water Usage</h3>
				<p>Before discussing how to reduce water consumption, it is important to understand the various factors
					that contribute to water consumption. These factors can include:</p>
				<ul class="browser-default">
					<li>Number of cows</li>
					<li>Temperature</li>
					<li>Rainwater tank volume</li>
					<li>Size of farm</li>
				</ul>
				<p>The scatterplot matrix below plots instances of these various attributes against one another, with
					trendlines to display correlations between the parameters.</p>

				<!-- SPLOM visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<!-- 
				Water flow in dairy farms
				-- Average water consumption in Victorian farms
				-- Visualisation: Histogram
				-- Various ways water is consumed
				-- Visualisation: Sankey
			-->
			<div id="flow" class="section scrollspy">
				<h3 class=>Water Flow in Dairy Farms</h3>
				<p>The below histogram shows the average water consumption across dairy farms in Victoria.</p>

				<!-- Histogram visualisation -->
				<div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="https://public.tableau.com/views/Histogram_water_good_copy/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link&:showVizHome=no">
					</iframe>
				</div>

				<p>Dairy farms use a lot of water, and this water is used in a variety of ways. The below flow diagram
					shows the average distribution of water among the various tasks that require water in a dairy farm.
				</p>

				<!-- Flow diagram visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->

				<p>Let's dive into each of these main uses and some ways to reduce their water footprint.</p>
			</div>

			<div id="irrigation" class="section scrollspy">
				<blockquote>
					</block>
					<h4 class=>Irrigation</h4>
				</blockquote>
				<p>The majority of dairy farms employ irrigation on their fields, ensuring the plants grow healthily to
					feed the grazing cows.</p>

				<p>The water this irrigation uses is highly dependent on the plants being grown. Ensure that the plants
					being grown are suited to your area and climate, and naturally require less water. (<a
						href="https://www.mdpi.com/2071-1050/9/12/2369/htm">Rogers et al., 2017</a>)</p>

				<p>The type and implementation of these irrigation systems also impacts water usage, so it is important
					to perform proper maintenance and select an irrigation system that works for your farm's
					requirements.</p>
				<p>The below radar chart shows the properties of 10 types of irrigation systems.</p>

				<!-- Radar chart visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->

				<p>To assist with the selection of an irrigation system, we have created a recommendation system that
					will provide information on the most suitable irrigation systems for your preferences. This can be
					accessed in our <a href='/irrigation'>Irrigation</a> page.</p>

			</div>

			<div id="consumption" class="section scrollspy">
				<blockquote>
					<h4 class=>Cow Consumption</h4>
				</blockquote>
				<p>A major component of dairy farm water usage goes directly to the cows in the form of drinking water.
				</p>
				<p>The amount of water needed by cows varies based on the season and temperature. The below spiral chart
					shows cow water consumption over a period of [???] years.</p>

				<!-- Spiral chart visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
				<p>In addition, the proportion of dry matter, protein, and sodium that the cows are fed (<a
						href="https://www.ag.ndsu.edu/publications/livestock/water-needs-and-quality-guidelines-for-dairy-cattle">Schroeder,
						2015</a>) can slightly increase water consumption. <br>
					So while you can't change the temperature, you can prevent unnecessary water consumption by
					optimising these nutrients in manufactured feed to minimise water usage, while maintaining the
					health of the animals.</p>
			</div>

			<div id="washing" class="section scrollspy">
				<blockquote>
					<h4 class=>Washing and Cleaning</h4>
				</blockquote>
				<p>Water must be allocated to washing sheds and equipment, cooling milk, and waste flushing systems. The
					water used in these processes is heavily influenced by the milking systems employed.
					<br>Robotic or automated milking systems may be more water efficient (<a
						href="https://nsfa-fane.ca/wp-content/uploads/2018/03/008_Dal_NSFA-Water-Use-Report-Automatic-Milking-Systems.pdf">Thomson
						& Corscadden, 2018</a>), as these systems can more accurately measure the amount of water needed
					for each wash (Nagypál et al., 2020). Alternatively, you could potentially achieve similar results
					by training employees on applying the optimal amount of water through hoses and other equipment.
				</p>

				<p></p>

				<!-- ??? visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<div id="runoffs" class="section scrollspy">
				<blockquote>
					<h4 class=>Runoff</h4>
				</blockquote>
				<p>Runoff wastewater from farms can have a huge impact on local waterways. Proper management of
					wastewater is the difference between destroying ecosystems or creating new ones.</p>
				<p>Aim to capture and manage all effluent via traps and sumps. Prevent solids from mixing with water and
					store effluents in such a way that they do not leech into water sources. (<a
						href="http://www.dairyingfortomorrow.com.au/wp-content/uploads/2008-DairyGains-Victorian-Effluent-Guidelines.pdf">DairyGains</a>)
				</p>
				<p>Recycle and reuse water. Wastewater treatment technology ranges from mechanical, chemical, and
					bacterial filters, to constructed wetlands (sources).</p>

				<!-- ???  visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<div id="reduction" class="section scrollspy">
				<h3 class=>Reducing Water Usage</h3>
				<p>This was a brief introduction to a few ways in which you can reduce the water footprint of a dairy
					farm. The volume of new technology and research on reducing water consumption is ever-increasing, so
					there are many options to find what is best for your business, and your animals.</p>
				<p>Measuring your water usage is imperative to managing it and there are many resources to assist with
					the process. However, if you have not yet employed a measuring system or would like to see how your
					farm's water usage compares to the average Victorian farm, have a look at our <a
						href="regression_model.html">Water Use Prediction</a> page.</p>

			</div>
		</div>
		<div class="col hide-on-small-only m3 l2 sticky">
			<ul class="section table-of-contents">
				<li><a href="#intro">Introduction</a></li>
				<li><a href="#australia">Australian Dairy Farms</a></li>
				<li><a href="#factors">Factors in Water Usage</a></li>
				<li><a href="#flow">Water Flow in Dairy Farms</a></li>
				<li><a href="#irrigation">Irrigation</a></li>
				<li><a href="#consumption">Cow Consumption</a></li>
				<li><a href="#washing">Washing and Cleaning</a></li>
				<li><a href="#runoffs">Runoffs</a></li>
				<li><a href="#reduction">Reducing Water Usage</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}
{% block scripts %}
<script>
	function progressBarScroll() {
		let winScroll = document.body.scrollTop || document.documentElement.scrollTop,
			height = document.documentElement.scrollHeight - document.documentElement.clientHeight,
			scrolled = (winScroll / height) * 100;
		document.getElementById("progressBar").style.width = scrolled + "%";
	}

	window.onscroll = function () {
		progressBarScroll();
	};
</script>
<script>
	function pageScroll() {
		let pageHeight = window.innerHeight;
		window.scrollBy(0, pageHeight);
	}
</script>
{% endblock %}