{% extends "_template.html" %}
{% block mainactive1 %}class="active"{% endblock %}
{% block mainactive2 %}class="active"{% endblock %}
{% block navclass %}{% endblock %}
{% block styles %}
<style>

	/* Basic page setup */
	html {
		scroll-behavior: smooth;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		background-color: #fff
	}

	/* Navigation */
	nav {
		background-color: rgba(255, 255, 255, 0.7);
		backdrop-filter: blur(6px);
	}

	nav ul a,
	nav .brand-logo {
		color:  rgba(128, 128, 128, 0.7);}

	/* Header image */
	body {
		background: url("/static/images/farm.jpg") no-repeat center/cover, #bedde0;
	}

	/* Progress bar */
	.progress-container {
		background-color: rgba(150, 150, 150, 0.6);
		height: 0px;
		width: 100%;
	}

	.progress-bar {
		background-color: #4AC3ED;
		height: 10px;
		width: 0%;
	}

	div.sticky {
		position: -webkit-sticky;
		/* Safari */
		position: sticky;
		top: 64px;
	}

	/* Header image */
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		overflow: hidden;
		height: 100vh;
		color: #2CA5DD
	}

	/* Button to scroll past the header image */
	.scrolldown {
		position: absolute;
		bottom: 0;
		margin-bottom: 25px;
		padding: 10px;
		border-radius: 50%;
		transition: .15s;
		background-color: #4AC3ED;
	}

	/* Header colours */
	h1{
		color: #FCFCFC;
		margin: 0
	}
	h3{
		color: #229BD3
	}
	h4{
		color: #4CBAE6
	}

	/* Accent block colours */
	.table-of-contents a.active {
		border-left: 2px solid #1E6091;
	}
	.table-of-contents a:hover {
		border-left: 1px solid #2CA5DD;
	}
	blockquote {
		border-left: 5px solid #229BD3
	}

</style>
{% endblock %}
{% block content %}
<div class="progress-container sticky">
	<div class="progress-bar" id="progressBar"></div>
</div>

<div class="header">
	<div class="section">
		<h1 class="white-text center-align">Water Management in Dairy Farms</h1>
		<!-- <h6 class="grey-text center-align">FIT3164 DATA SCIENCE PROJECT // S2 2021<br>BENITA SIEN // SHYAM SRINIVAS //
			REUBEN LING</h6> -->
	</div>
	<a class="btn-floating btn-large waves-effect waves-light pulse scrolldown" onclick="pageScroll()"><i
			class="material-icons">water_drop</i></a>
</div>
<div class="container content">
	<div class="row">
		<div class="col s12 m9 l10">

			<!-- Introduction section -->
			<div id="intro" class="section scrollspy">
				<p class="flow-text">Despite being the industry that consumes the most water in Australia, there exists
					a lack
					of
					awareness and urgency in improving methods of obtaining, storing and using water within the dairy
					industry.
					As
					about a third of irrigated land in the country is occupied by dairy farms, it is imperative that
					awareness
					and
					incentives for more efficient and sustainable measures are brought to light.<br><br>Our key goal is
					to use
					data
					visualisation to inform businesses in the dairy industry on practices to apply within
					their organisation in order to reduce their water consumption. This will hold benefits to the
					environment
					and
					society as it could reduce the natural resources needed to run Australia’s largest agricultural
					sector.
				</p>
			</div>

			<!-- 
				Dairy farms in Australia
				-- Talk about the per-state breakdown
				-- Mention Victoria as having the most dairy farms in the country
			-->
			<div id="australia" class="section scrollspy">
	
				<h3 class=>Australian Dairy Farms</h3>
				<p>Placeholder text</p>

				<!-- Area + choropleth visualisation -->
				<div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="https://public.tableau.com/views/CowsperState/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link&:showVizHome=no">
					</iframe>
				</div>
				<p>As illustrated in the visualisation above, Victorian farms have by far the most cows in the country.
					If all
					Victorian farms were to implement efficient water management strategies, there would be a
					significant impact on water consumption in Australia as a whole.</p>
			</div>

			<!-- 
				Factors in water usage
				-- Visualisation: SPLOM
			-->
			<div id="factors" class="section scrollspy">
				<h3 class=>Factors in Water Usage</h3>
				<p>Before discussing how to reduce water consumption, it is important to understand the various factors
					that contribute to water consumption. These factors can include:</p>
				<ul class="browser-default">
					<li>Number of cows</li>
					<li>Temperature</li>
					<li>Rainwater tank volume</li>
					<li>Size of farm</li>
				</ul>
				<p>The scatterplot matrix below plots instances of these various attributes against one another, with
					trendlines to display correlations between the parameters.</p>

				<!-- SPLOM visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<!-- 
				Water flow in dairy farms
				-- Average water consumption in Victorian farms
				-- Visualisation: Histogram
				-- Various ways water is consumed
				-- Visualisation: Sankey
			-->
			<div id="flow" class="section scrollspy">
				<h3 class=>Water Flow in Dairy Farms</h3>
				<p>The below histogram shows the average water consumption across dairy farms in Victoria.</p>

				<!-- Histogram visualisation -->
				<div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="https://public.tableau.com/views/Histogram_water_good_copy/Dashboard1?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link&:showVizHome=no">
					</iframe>
				</div>

				<p>Dairy farms use a lot of water, but this water is used in a variety of ways. The below flow diagram
					shows the average distribution of water among the various tasks that require water in a dairy farm.
				</p>

				<!-- Flow diagram visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->

				<p>Let's dive into each of these main uses.</p>
			</div>

			<div id="irrigation" class="section scrollspy">
				<blockquote></block><h4 class=>Irrigation</h4></blockquote>
				<p>The majority of dairy farms employ irrigation on their fields, ensuring the plants grow healthily to
					feed the grazing cows.</p>
				<p>The type and implementation of these irrigation systems have an impact on dairy farming, so it is
					important to select an irrigation system that works for your farm's requirements.</p>
				<p>The below radar chart shows the properties of 10 possible irrigation systems.</p>

				<!-- Radar chart visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->

				<p>To assist with the selection of an irrigation system, we have created a recommendation system that
					will provide information on the most suitable irrigation systems for your preferences. This can be
					accessed in our <a href='/irrigation'>Models</a> page.</p>
			</div>

			<div id="consumption" class="section scrollspy">
				<blockquote><h4 class=>Cow Consumption</h4></blockquote>
				<p>A major component of dairy farm water usage goes directly to the cows in the form of drinking water.
				</p>
				<p>The amount of water needed by cows varies based on the season and temperature. The below spiral chart
					shows cow water consumption over a period of [???] years.</p>

				<!-- Spiral chart visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<div id="washing" class="section scrollspy">
				<blockquote><h4 class=>Washing and Cleaning</h4></blockquote>
				<p>Water must be allocated to washing and cleaning sheds. This obviously depends on the surface area of
					the shed, as well as the method of cleaning employed.</p>
				<p>[NEED TO CLARIFY WHAT TO WRITE / VISUALISE HERE]</p>

				<!-- ??? visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<div id="runoffs" class="section scrollspy">
			<blockquote><h4 class=>Runoffs</h4></blockquote>
				<p>[NEED TO CLARIFY WHAT TO WRITE / VISUALISE HERE]</p>

				<!-- ???  visualisation -->
				<!-- <div class="video-container">
					<iframe class="responsive-img" frameborder="0" scrolling="no"
						src="VIS-LINK-GOES-HERE">
					</iframe>
				</div> -->
			</div>

			<div id="reduction" class="section scrollspy">
				<h3 class=>Reducing Water Usage</h3>
				<p>[NEED TO CLARIFY WHAT TO WRITE / VISUALISE HERE]</p>

			</div>
		</div>
		<div class="col hide-on-small-only m3 l2 sticky">
			<ul class="section table-of-contents">
				<li><a href="#intro">Introduction</a></li>
				<li><a href="#australia">Australian Dairy Farms</a></li>
				<li><a href="#factors">Factors in Water Usage</a></li>
				<li><a href="#flow">Water Flow in Dairy Farms</a></li>
				<li><a href="#irrigation">Irrigation</a></li>
				<li><a href="#consumption">Cow Consumption</a></li>
				<li><a href="#washing">Washing and Cleaning</a></li>
				<li><a href="#runoffs">Runoffs</a></li>
				<li><a href="#reduction">Reducing Water Usage</a></li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}
{% block scripts %}
<script>
	function progressBarScroll() {
		let winScroll = document.body.scrollTop || document.documentElement.scrollTop,
			height = document.documentElement.scrollHeight - document.documentElement.clientHeight,
			scrolled = (winScroll / height) * 100;
		document.getElementById("progressBar").style.width = scrolled + "%";
	}

	window.onscroll = function () {
		progressBarScroll();
	};
</script>
<script>
	function pageScroll() {
		let pageHeight = window.innerHeight;
		window.scrollBy(0, pageHeight);
	}
</script>
{% endblock %}