{% extends "_template.html" %}
{% block methodologyactive1 %}class="active"{% endblock %}
{% block methodologyactive2 %}class="active"{% endblock %}
{% block content %}
<div class="container">
    <p>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of
        text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A
        bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of
        text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A
        bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of
        text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A
        bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of
        text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A bunch of text<br>A
        bunch of text<br>A bunch of text<br>A bunch of text<br></p>
</div>
{% endblock %}