{% extends "_template.html" %}
{% block modelsactive1 %}class="active"{% endblock %}
{% block modelsactive2 %}class="active"{% endblock %}
{% block content %}
<div class="container">
	<!-- Sample form - not functional -->
	<h3>Irrigation Recommendations</h3>
	<p class='flow-text'>Looking for a new irrigation system? Enter your details below and find the most suitable irrigation system for your needs, from data provided by the Agriculture Victoria's Resources Online.</p>
	<p class='red-text'>Values are placeholders for now</p>
	<form action="{{ url_for('irrigation_proto') }}" method="post">
		<div class="row">
			<div class="input-field col s12 m6">
				<select name="capital_cost">
					<option value="" disabled selected>Choose your option</option>
					<option value="4">Very High</option>
					<option value="3">High</option>
					<option value="2">Modest</option>
					<option value="1">Low</option>
				</select>
				<label>How much capital cost are you willing to incur?</label>
			</div>
			<div class="input-field col s12 m6">
				<select name="pumping_cost">
					<option value="" disabled selected>Choose your option</option>
					<option value="4">High</option>
					<option value="3">Moderate</option>
					<option value="2">Modest</option>
					<option value="1">Low</option>
				</select>
				<label>How much pumping cost are you willing to incur?</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select name="labour_requirements">
					<option value="" disabled selected>Choose your option</option>
					<option value="4">High</option>
					<option value="3">Moderate</option>
					<option value="2">Modest</option>
					<option value="1">Low</option>
				</select>
				<label>What level of labour requirements do you want the system to require?</label>
			</div>
			<div class="input-field col s12 m6">
				<select name="efficiency">
					<option value="" disabled selected>Choose your option</option>
					<option value="4">Very High</option>
					<option value="3">High</option>
					<option value="2">Moderate</option>
					<option value="1">Low</option>
				</select>
				<label>What level of efficiency do you want from the system?</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select name="uniformity">
					<option value="" disabled selected>Choose your option</option>
					<option value="4">Very High</option>
					<option value="3">High</option>
					<option value="2">Low</option>
					<option value="1">Very Low</option>
				</select>
				<label>How uniform do you want the irrigation to be?</label>
			</div>
			<div class="input-field col s12 m6">
				<select multiple name="water_loss">
					<option value="" disabled selected>Choose your option</option>
					<option value="channel_loss">Channel Losses</option>
					<option value="evaporation">Evaporation</option>
					<option value="evaporation_low">Evaporation (Not Severe)</option>
					<option value="seepage">Seepage</option>
					<option value="surface_runoff">Surface Runoff</option>
					<option value="surface_runoff_possible">Surface Runoff (Possible not Guaranteed)</option>
					<option value="wind_dispersion">Wind Dispersion</option>
				</select>
				<label>What sources of water loss are you most concerned about?</label>
				<p>Be sure to only select one of the two options for "Evaporation" and "Surface Runoff".</p>
			</div>
		</div>
		<button class="btn waves-effect waves-light right" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
	<br><br>

	<!-- Prototype form - for initial testing -->
	<h3>Prototype Form</h3>
	<p class="flow-text">Enter the number of cows in your farm below, and we will predict your water consumption.</p>
	<form action="{{ url_for('test_output') }}" method="post">
		<div class="row">
			<p class="range-field col s12 m6">
				Number of Cows
				<input type="range" name="test_range" min="0" max="100" />
			</p>
			<div class="input-field col s12 m6">
				<input type="text" name="test_input" id="cows">
				<label for="cows">Number of Cows</label>
			</div>
		</div>
		<button class="btn waves-effect waves-light right" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>

	<!-- Model output area -->
	{% if response is defined %}
	<div class="row">
		<table class="centered highlight">
			<thead>
				<tr>
					<th>Range Input</th>
					<th>Range Output</th>
					<th>Text Input</th>
					<th>Text Output</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ response.num_cows_range }}</td>
					<td>{{ response.water_consumption_range }}</td>
					<td>{{ response.num_cows_text }}</td>
					<td>{{ response.water_consumption_text }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	{% else %}
	<!-- Sample form output - not functional -->
	<!-- <div class="row">
		<div class="col s6 center">
			<span class="center" style="border:1px solid black;height:500px;width:500px;display:inline-block;">[Model
				outputs
				go
				here]</span>
		</div>
		<div class="col s6 center">
			<span class="center" style="border:1px solid black;height:500px;width:500px;display:inline-block;">[Model
				outputs
				go
				here]</span>
		</div>
	</div> -->
	{% endif %}
	<br><br>
</div>
{% endblock %}